.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45px;
    background-color: rgba(0,0,0,0.3);
    opacity: 0.8;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s all ease-in-out;
    z-index: 90;
    a{
        text-decoration: none;
        
    }
    &.scrolled{
        height: 50px;
        background-color: rgb(9, 8, 8);
        height: 30px;
        opacity: 1;
        .logo{
            img{
                width: 40%;
                padding: 0;
            }
        }
        .links{
            p{
                &.selected{
                    color: #0b98fd;
                }
            }
        }
    }
    .logo{
        display: flex;
        align-items: center;
        
        img{
            background-color: transparent;
            width: 50%;
            transition: .4s ease-in-out;
        }
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5%;
        p{
            background-color: transparent;
            color: white;
            font-size: 15px;
            font-family: Open Sans,Arial,sans-serif;
            transition: all .4s ease-in-out;
            cursor: pointer;
            margin: 0 15px ;
            &:hover{
                opacity: .7;
            }
            &.selected{
                color: #fd580b;
            }
            svg{
                margin: 0;
                margin-right: 5px;
            }
        }
    }
}